header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  background-color: transparent;
  text-align: center;
}

header h1 {
  position: relative;
  margin: 0;
  color: #222;
  font-weight: normal;
  user-select: none;
}