.container {
  box-sizing: border-box;
  height: 100vh;
  padding: 5.3rem 0 4rem;
}

.three-root {
  position: relative;
  height: 100%;
  background-color: #fff;
  transition: .2s ease-out 0s;
}

.three-root::before,
.three-root::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 20%;
  height: 40%;
  border-width: 0;
  border-style: solid;
  transition: .2s ease-out 0s;
}

.three-root::before {
  top: -1.1rem;
  left: -1.1rem;
  border-image: linear-gradient(to right, #27dafa, #2580e7) 30 30;
}

.three-root::after {
  right: -1.1rem;
  bottom: -1.1rem;
  border-image: linear-gradient(to left, #27dafa, #2580e7) 30 30;
}

.three-root:hover::before,
.three-root:hover::after {
  border-width: .8rem;
  transition: .2s ease-out 1s;
}

.three-root:hover {
  box-shadow: 0px 0px 0px .5rem #1b1b1b;
  transition: .2s ease-out 1.2s;
}

/* Disable canvas selection */
.container canvas {
  user-select: none;
}

.info-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1rem;
  width: 1rem;
  border: 3px solid #1b1b1b;
  font-size: .5rem;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  transition: .2s ease 0s;
  transform: scale(0);
  user-select: none;
}

.three-root:hover .info-icon {
  transform: scale(1);
  transition: transform .2s ease 1.4s;
}

.info-icon:hover {
  color: #fff;
  background-color: #1b1b1b;
  /* transition: .2s ease; */
}

/* Marquee */
.marquee {
  display: none;
  position: absolute;
  right: 0;
  bottom: .5rem;
  left: 0;
  height: 1.3rem;
  overflow: hidden;
}

.info-icon:hover+.marquee {
  display: block;
}

.marquee-inner {
  position: absolute;
  width: 200%;
  overflow: absolute;
  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
  white-space: pre;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
