.container {
  box-sizing: border-box;
  height: 100vh;
  padding: 5.3rem 0 4rem;
}

.three-root {
  position: relative;
  height: 100%;
  background-color: #fff;
  transition: .2s ease-out 0s;
}

.three-root::before,
.three-root::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 20%;
  height: 40%;
  border-width: 0;
  border-style: solid;
  transition: .2s ease-out 0s;
}

.three-root::before {
  top: -1.1rem;
  left: -1.1rem;
  border-image: linear-gradient(to right, #27dafa, #2580e7) 30 30;
}

.three-root::after {
  right: -1.1rem;
  bottom: -1.1rem;
  border-image: linear-gradient(to left, #27dafa, #2580e7) 30 30;
}

.three-root:hover::before,
.three-root:hover::after {
  border-width: .8rem;
  transition: .2s ease-out 1s;
}

.three-root:hover {
  box-shadow: 0px 0px 0px .5rem #1b1b1b;
  transition: .2s ease-out 1.2s;
}

/* Disable canvas selection */
.container canvas {
  user-select: none;
}

/* Info icon */
.info-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1rem;
  width: 1rem;
  border: 3px solid #1b1b1b;
  font-size: .5rem;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  transition: .2s ease 0s;
  transform: scale(0) rotate(0deg);
  user-select: none;
}

.info-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 60%;
  transform: translate(-50%, -50%);
  background-color: #1b1b1b;
}

.three-root:hover .info-icon {
  transform: scale(1) rotate(-360deg);
  transition: transform .2s ease 1.5s;
}

.info-icon:hover {
  animation: rotate 7s linear infinite;
}

/* Marquee */
.marquee {
  display: none;
  position: absolute;
  right: 0;
  bottom: 1rem;
  left: 0;
  height: 1.3rem;
  overflow: hidden;
}

.info-icon:hover+.marquee {
  display: block;
}

.marquee-inner {
  position: absolute;
  left: 0;
  width: 200%;
  overflow: hidden;
  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
  white-space: pre;
}

/* Font-size cannot be smaller at this width (index.css ->)
 * Continuous effect must be interupted
 * Hide right-line and reset marquee-inner as whole single line 
 */
@media screen and (max-width: 900px) {
  .marquee-inner {
    width: auto;
    animation: marquee-single 13s linear infinite;
  }

  .marquee span {
    width: 100%;
  }

  .right-line {
    display: none;
  }

  /* Touch and show effects  */
  .three-root:hover::before,
  .three-root:hover::after {
    border-width: .8rem;
    transition: .2s ease-out;
  }

  .three-root:hover {
    transition: .2s ease-out .2s;
  }

  .three-root:hover .info-icon {
    transition: transform .2s ease .2s;
  }
}

@keyframes marquee {
  to { left: -100%; }
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(-360deg) }
}

@keyframes marquee-single {
  from { transform: translateX(50%) }
  to { transform: translateX(-100%) }
}